<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="stac2018_2.stac2018_2" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:icon="@drawable/hearticon" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme"></application>
</manifest>